<app-home></app-home>
<div class="container">
  <div class="row" style="background-color: rgb(87, 170, 243);">
    <div class="col-6">
      <h3>Exam Module</h3>
    </div>
    <div class="col-4 text-right">
      <b>Select Subject: </b>
      <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)">
        <option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>
      </select>
    </div>
    <!-- <div>Time Left: {{timeLeft_}}</div> -->
  </div>
  <div id="quiz" *ngIf = 'report == false' >
    <h2 class="text-center font-weight-normal">{{quiz.name}}</h2>
    <hr />

    <div *ngIf="mode=='quiz' && quiz">
      <div *ngFor="let question of filteredQuestions;">
        <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
        <div *ngIf="config.duration" class="badge badge-info float-right">Time: {{ellapsedTime}} / {{duration}}</div>
        <h3 class="font-weight-normal">{{pager.index + 1}}.
          <span [innerHTML]="question.name"></span>
        </h3>
        <div class="row text-left options">
          <div class="col-6" *ngFor="let option of question.options">
            <div class="option">
              <label class="font-weight-normal" [attr.for]="option.id">
                <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" /> {{option.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="text-center">
        <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button>
        <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev</button>
        <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
        <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button>
        <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
      </div>
    </div>

    <div class="row text-center" *ngIf="mode=='review'">
      <div class="col-4 cursor-pointer" *ngFor="let question of quiz.questions; let index = index;">
        <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Answered'? 'bg-info': 'bg-warning' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
      </div>
    </div>
    <div class="result" *ngIf="mode=='result'">
      <h2>Quiz Result</h2>
      <div *ngFor="let question of quiz.questions; let index = index">
        <div class="result-question">
          <h5>{{index + 1}}. {{question.name}}</h5>
          <div class="row">
            <div class="col-6" *ngFor="let Option of question.options">
              <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}}
            </div>
          </div>
          <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</div>
        </div>
      </div>
      <!-- <h4 class="alert alert-info text-center"> -->
        <hr class="mt-3 ">
          <div class="row mt-3 py-3">
            <h2 style="width:50%; margin-left:25%">Mock Test Result with Analysis</h2>
              <div class="justify content-center col-sm-5">
                  <div class="card orange">
                    <div class="card-body">
                      <h3> Your score is <h1>{{total_answered}}/6</h1></h3>
                      <h3>Percentage : {{percentage}}</h3>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow={{total_answered}}
                          aria-valuemin="0" aria-valuemax= 6 style="width: 50%">
                            {{total_answered}}
                          </div>
                      </div>
                      <div class="{{expected_mark <= percentage ? 'success' : 'failed' }}">
                       <h3> Expected score was
                         <h1>{{expected_mark}}</h1>
                       </h3>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-sm-7">
                <google-chart
                type="LineChart"
                [data] = "line_chart_data"
                title = "Growth"
                hAxis.title = "Score in exam"
                vAxis.title = "Test"
                [options] = "options_line_chart"
                hAxis.maxValue = 100
                hAxis.minValue = 0
                >
                </google-chart>
              </div>
            </div>
          <div class="row mt-3">
            <h3 style="width:50%; margin-left:25%">Break down of each category in the subject</h3>
            <div class="col-sm-4">
                <google-chart #chart  
                title= "Arithmetic"  
                [type]="type"  
                [data]="piechart_data1"  
                [options]="options"  
                [width]="width"  
                [height]="height"
                >  
             </google-chart> 
            </div>
            <div class="col-sm-4">
                <google-chart #chart  
                title="Geometry"  
                [type]="type"  
                [data]="piechart_data2"  
                [options]="options"  
                [width]="width"  
                [height]="height">  
             </google-chart> 
            </div>
            <div class="col-sm-4">
              <google-chart #chart  
              title="Algebra"  
              [type]="type"  
              [data]="piechart_data3"  
              [options]="options"  
              [width]="width"  
              [height]="height">  
           </google-chart> 
            </div>
          </div>

        <!-- <button (click) = "display_analysis()">Report Card</button> -->
      <!-- </h4> -->
    </div>
    <hr />
    <div *ngIf="mode!='result'">
      <button class="btn btn-warning" (click)="mode = 'quiz'">Quiz</button>
      <button class="btn btn-info" (click)="mode = 'review'">Review</button>
      <button class="btn btn-primary" (click)="onSubmit();">Submit Quiz</button>
    </div>
  </div>

  
</div>