<div class="section" id="progress">
    <div class="container">
        <div class="h4 text-center mb-4 title">Progress</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Sets</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Statistics</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Integration</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Differentiation</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Complex Number and Quadratic Equations</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Permutation and Combination</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>