<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand ml-sm-3" >ASEA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/learn" routerLinkActive="active" >Learn</a>
                <a class="nav-link" routerLink="/practice" routerLinkActive="active">Practice</a>
                <a class="nav-link" routerLink="/exam" routerLinkActive="active">Exam</a>
            </div>
        </div>
        <input class="mr-sm-2" id="curved_bar" type="search" placeholder="Search" aria-label="Search">
        <!-- <i class="fa fa-search"></i></button> -->
        
    </div>
</nav>
