<app-home></app-home>
<!DOCTYPE en>
<html>
<div class="container">
	<div id="curved_bar" class="row mt-3">
			<div class="col-sm-2" >
				<select name="subject_choosen" [(ngModel)] = "subject_choosen" (click) = "get_list_chapters()" >
					<option >Choose subject</option>
					<option value="Mathematics">Mathematics</option>
					<option value="Physics" >Physics</option>
					<option value="Chemistry" >Chemistry</option>
				</select>
			</div>
			<div class="col-sm-1 "></div>
			<div class="col-sm-3" >
				<select name="chapter_choosen" [(ngModel)] = "chapter_choosen">
					<option>Choose Chapter</option>
					<option *ngFor = "let chapterName of list_chapter_name">{{chapterName}}</option>
				</select>
			</div>
			<div class="col-sm-1 "></div>
			<div class="col-sm-2" >
				<input placeholder="enter number of questions" name = "num_choosen" [(ngModel)] = "num_choosen">
			</div>
			<div class="col-sm-1" ></div>
			<div class="col-sm-2" style="border: #0d6efd; font: white;">
				<button class="btn " (click) = "get_practice_questions(subject_choosen, chapter_choosen, num_choosen)"> Let's Practice
				</button>
			</div>
	</div>

	<div  class="row justify-content-center ">
		<div *ngIf="display_practice_questions" >
			<div class="card mt-3" name="current_question_display" ngDefaultControl [(ngModel)] = "current_question_display">
				<div class="card-body">
					{{index_question+1}}. {{current_question_display.questionSet.question}}
				</div>
				<div class="footer">
					<div class="row mt-3">
						<div class="col-sm-6">
							<input type="radio" (click)="display_answer(1)" name="ans" value = 0>{{current_question_display.questionSet.options[0]}}
						</div>
						<div class="col-sm-6">
							<input type="radio" (click)="display_answer(2)" name="ans" value = 1>{{current_question_display.questionSet.options[1]}}
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-sm-6">
							<input type="radio" (click)="display_answer(3)" name="ans" value = 2>{{current_question_display.questionSet.options[2]}}
						</div>
						<div class="col-sm-6">
							<input type="radio" (click)="display_answer(4)" name="ans" value = 3>{{current_question_display.questionSet.options[3]}}
						</div>
					</div>
				</div>
				
				<!-- <button type="submit" class="btn mt-3" (click)="display_answer()"> Show Answer</button>           -->
				<div *ngIf = "shownDiv" id="shownDiv" class = {{correctly_answered}}>
					<div>{{current_question_display.questionSet.answer[0]}}</div>
					<div>{{current_question_display.questionSet.answer[1]}}</div>
				</div>
				<!-- <button class="btn mt-3" (click)="display_answer()">show answer</button> -->
				<button class="btn mt-3" (click) = "current_practice_question(1)" >Next Question</button>
			</div>
			
		</div>
	</div>
</div>
</html>