#curved_bar, .card{
    border: 2px solid #0d6efd;
    padding: 10px;
    border-radius: 25px;
}

button{
    background-color: #e8832b;
    color: white;
}

.card-body{
    flex: 1 1 auto;
    padding: 1rem 1rem;
    border-bottom: 2px solid #0d6edf;
}

#shownDiv{
    padding: inherit;
    margin-block: inherit;
}

.green
{
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
} 
.red{
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
