
<section class="course">
        <h1 class="text-center">CHAPTERS</h1>
    
        <div class="row mt-5" >
            <div class="col-lg-3 mb-5" *ngFor="let cs of maths">
                <div class="box shadow-sm">
                    <img src="{{cs.imgUrl}}" width="100%">
                    <h4 class="mt-2">{{cs.title}}</h4>
                    <a href={{cs.view}} class="btn btn-primary stretched-link ml-2 mr-5">Learn</a>
                </div>
    
            </div>
        </div>
    </section>
